body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

.login-form-container {
    width: 250px;
    height: 250px;
    background-color: #F2F2F2;
    border-radius: 5%;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.5);
}

form, h2 {
    margin-left: 10px;
}

.inputfield {
    outline: none;
    border: none;
    height: 20px;
    width: 95%;
    margin-bottom: 15px;
}

.formlabel {
    margin-top: 10px;
}

.submit-button {
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    width: 95%;
    margin-top: 10px;
    height: 40px;
    background-color: #B4A09C;
}