body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    padding: 30px;
    width: auto;
    height: auto;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
}

label {
    font-size: 12px;
}

input {
    margin-bottom: 20px;
}