<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>More Filters</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div class="main-container">
    <header>
        <div class="top-header">
            <a th:href="@{/}"><h1>MY SHOP</h1></a>
            <a th:href="@{/more-filters}"><h1 class="more-button">More >></h1></a>
        </div>
        <hr>
        <a th:href="@{/clothes-and-shoes}"><button class="filter-button">CLOTHES AND SHOES</button></a>
        <a th:href="@{/electronics}"><button class="filter-button">ELECTRONICS</button></a>
        <a th:href="@{/beverages-and-snacks}"><button class="filter-button">BEVERAGES AND SNACKS</button></a>
        <a th:href="@{/euro}"><button class="filter-button">EURO</button></a>
        <a th:href="@{/original-currency}"><button class="filter-button">ORIGINAL CURRENCY</button></a>
    </header>
    <form class="filter-by-price" action="/search" method="post">
        <button class="search-button" type="submit">Above</button>
        <button class="search-button" type="submit">Below</button>
        <button class="search-button" type="submit">Exactly</button>
        <label for="filter-by-price">Filter by price:</label>
        <input id="filter-by-price" name="filter-by-price" placeholder="...e.g.: 300">
    </form>
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity<br> of stock</th>
        </tr>
        <tr th:each="item: ${shopItems}">
            <td class="item-name" th:text="${item.name}"></td>
            <td class="item-name" th:text="${item.type}"></td>
            <td class="item-description" th:text="${item.description}"></td>
            <td class="item-price" th:text="${item.getFormattedPrice()}"></td>
            <td class="item-quantity" th:text="${item.quantityOfStock}"></td>
        </tr>
    </table>
    <footer>
        <hr class="footer-line">
    </footer>
</div>
</body>
</html>