body {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(65, 93, 102);
   font-size: 24px;
   width: 600px;
   border-collapse: collapse;
   border-style: hidden;
   box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.125);
   border-radius: 5px;
   overflow: hidden;
}

table tr {
    height: 80px;
    background-color: white;
}

table tr:nth-child(even) {
    background: #CCC
}

table tr th {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

th, td {
    border: 2px solid gray;
    padding-left: 20px;
    text-align: left;
}

th {
    border-bottom: 4px solid gray;
    font-weight: normal;
}