<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Todo</title>
</head>
<body>
<form th:action="'/' + ${id} + '/edit'" method="post" th:object="${todo}">
    <label for="todo">Edit Todo:</label>
    <input type="text" id="todo" name="title" th:field="*{title}">
    <label for="urgent">Urgent:</label>
    <input type="checkbox" id="urgent" name="urgent" th:field="*{urgent}">
    <label for="done">Done:</label>
    <input type="checkbox" id="done" th:field="*{done}">
    <button type="submit">Submit changes</button>
</form>
</body>
</html>