<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>
<form action="/" method="post">
    <label for="search">Search:</label>
    <input id="search" name="input">
    <button type="submit">Go</button>
</form>
<a href="/add">Add todo</a>
<h2>Todos for today:</h2>
<table>
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
    </tr>
    <tr th:each="todo : ${todoList}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.done}"></td>
        <td th:text="${todo.urgent}"></td>
        <td><a th:href="'/' + ${todo.id} + '/delete'">delete</a></td>
        <td><a th:href="'/' + ${todo.id} + '/edit'">edit</a></td>
    </tr>
</table>
</body>
</html>