<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programmer Fox Club - Nutrition Store</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div class="main-container">
    <header class="top-nav">
        <img class="logo" src="img/greenfox.png"/>
        <div class="nav-buttons">
            <a th:href="'/?name=' + ${name}"><button class="nav-button">INFORMATION</button></a>
            <a th:href="'/nutrition-store?name=' + ${name}"><button class="nav-button">NUTRITION STORE</button></a>
            <a th:href="'/trick-center?name=' + ${name}"><button class="nav-button">TRICK CENTER</button></a>
            <button class="nav-button">ACTION HISTORY</button>
        </div>
    </header>
    <hr class="header-over">
    <div class="content-container">
        <form th:action="'/nutrition-store?name=' + ${name}" method="post">
            <label for="food">Food</label>
            <select id="food" name="food">
                <option th:each="foodopt : ${T(com.greenfoxacademy.programmerfoxclub.model.Food).values()}" th:value="${foodopt}" th:text="${foodopt.displayValue}"></option>
            </select>
            <label for="drink">Drink</label>
            <select id="drink" name="drink">
                <option th:each="drinkopt : ${T(com.greenfoxacademy.programmerfoxclub.model.Drink).values()}" th:value="${drinkopt}" th:text="${drinkopt.displayValue}"></option>
            </select>
            <button class="submit-button" type="submit">Change</button>
        </form>
    </div>
</div>
</body>
</html>